body {
    margin: 0;
    background-color: #1E1E24;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box {
    display: flex;
    height: 350px;
    width: 500px;
    margin-top: 15%;
    background-color: #FFA987;
    flex-direction: column;
    border-radius: 7px;
    font-family: arvo;
}

.navigation {
    justify-content: left;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    justify-content: space-evenly;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: aqua;
}


/*
.login-btn,
.signup-btn {
    align-content: center;
    width: 60px;
    height: 35px;
    background-color: brown;
    border-radius: 10px;
    border: none;
}*/

.form-box-medic {
    display: flex;
    height: 500px;
    width: 500px;
    margin-top: 10%;
    background-color: #FFA987;
    flex-direction: column;
    border-radius: 7px;
    font-family: arvo;
}

.form-box-signup {
    display: flex;
    height: 440px;
    width: 500px;
    margin-top: 10%;
    background-color: #FFA987;
    flex-direction: column;
    border-radius: 7px;
    font-family: arvo;
}

.form-box-patient {
    display: flex;
    height: 600px;
    width: 500px;
    margin-top: 10%;
    background-color: #FFA987;
    flex-direction: column;
    border-radius: 7px;
    font-family: arvo;
}

.form-box-date {
    display: flex;
    height: 320px;
    width: 500px;
    margin-top: 10%;
    background-color: #FFA987;
    flex-direction: column;
    border-radius: 7px;
    font-family: arvo;
}

input[type=submit] {
    align-content: center;
    width: 100%;
    height: 35px;
    font-family: arvo;
    background-color: #ddd;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.input[type=submit]:hover {
    background-color: aliceblue;
    transition: all;
    transition-duration: 0.4s;
}